
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>大学生志愿服务认证中心</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="~/Content/oj/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/oj/css/main.css" rel="stylesheet" />
    <style>
        .form-content {
            width: 96%;
            margin: 0 auto;
            margin-top: 15px;
        }
    </style>
</head>
<body>
    <header>
        <nav class="writertop">
            <p>修改密码</p>
        </nav>
    </header>
    <div class="form-content">
        <form class="layui-form layui-form-pane" id="form1">

            <div class="layui-form-item">
                <label class="layui-form-label">当前密码</label>
                <div class="layui-input-block">
                    <input type="password" name="oldPwd" placeholder="请输入当前密码" autocomplete="off" class="layui-input" id="oldPass" lay-verify="required|pass">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">新密码</label>
                <div class="layui-input-block">
                    <input type="password" name="newPwd" placeholder="请输入新密码" autocomplete="off" class="layui-input" id="newPass" lay-verify="required|pass">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">确认密码</label>
                <div class="layui-input-block">
                    <input type="password" placeholder="请再输入一次新密码" autocomplete="off" class="layui-input" id="checkPassTow" lay-verify="required|pass">
                </div>
            </div>

            <div class="layui-form-item" style="text-align: center;margin-top:20px;">
                <button class="layui-btn" lay-submit lay-filter="changePass" id="passYes" style="background-color: #C62F2F;width: 250px;">确定修改</button>
            </div>
        </form>
    </div>
    <a href="javascript:history.go(-1)" class="write-back">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <script src="~/Content/oj/js/jquery-1.12.4.js"></script>
    <script src="~/Content/layui/layui.all.js"></script>
    <script src="~/Content/oj/js/check.js"></script>
    <script type="text/javascript">
        var oldPass = $('#oldPass');
        var newPass = $('#newPass');
        var checkPassTow = $('#checkPassTow');
        layui.use('form', function () {
            var form = layui.form;
            form.on('submit(changePass)', function () {
                if (newPass.val() != checkPassTow.val()) {
                    layer.alert('密码输入不一致！', {
                        icon: 2
                    });
                } else {
                    $.post("/UserInfo/UpdatePwd", $("#form1").serialize(), function (data) {
                        if (data["msg"] == "success") {
                            layer.alert('修改密码成功！', {
                                icon: 1
                            });
                        } else if (data["msg"] == "fail") {
                            ayer.alert('更改失败请稍后再试!', {
                                icon: 2
                            });
                        } else if (data["msg"] == "error") {
                            layer.alert('密码输入错误！', {
                                icon: 2
                            });
                        }

                    });

                }
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });
        })
    </script>
</body>
</html>
