<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>志愿者系统管理首页</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-table/bootstrap-table.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/bootstrap-table/bootstrap-table.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Content/bootstrap-table/bootstrap-table-zh-CN.js"></script>
    <script src="~/Content/layui/layui.all.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <link href="~/Content/oj/css/admin.css" rel="stylesheet" />
    <script type="text/javascript">
        $(function () {
            //初始化表格
            initTable();
            $("#btn_add").click(function () {
                var addInput = $('#add');
                var pattern = /^[\u4E00-\u9FA5]{2,20}$/;
                if (addInput.val().match(pattern)) {
                    if ($("#add").val() == "") {
                        layer.alert("名称不为空");
                        return;
                    }
                    $.post("/Major/Create", { MajorName: $("#add").val() }, function (data) {
                        if (data == "success") {
                            initTable();
                            layer.alert("资料修改成功");
                            $("#add").val("");
                        } else if (data == "fail") {
                            layer.alert("修改失败");
                        } else if (data == "exist") {
                            layer.alert("该专业名存在");
                        }
                    });
                }
                else {
                    layer.alert('专业名称添加应在2-20个汉字之间');
                }

                
            });
            $("#btn_removes").click(function () {
                removeSelectClickEvent();
            });

        });

        //初始化表格
        function initTable(queryParam) {
            $("#tb_major").bootstrapTable('destroy');
            $('#tb_major').bootstrapTable({
                contentType: "application/x-www-form-urlencoded",//后台拿Request拿不到值添加该条语句
                url: '/Major/GetAllMajor',         //请求后台的URL（*）
                method: 'post',                      //请求方式（*）
                toolbar: '#toolbar',
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                queryParams: queryParam,
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                pageList: [10, 20, 50, 100],        //可供选择的每页的行数（*）
                smartDisplay: false,
                showColumns: true,                  //是否显示所有的列
                showRefresh: true,
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,
                uniqueId: "MajorID",                     //每一行的唯一标识，一般为主键列
                columns: [
                    {
                        field: 'checked',
                        checkbox: true,
                        width: '5%'
                    },
                    {
                        field: 'MajorID',
                        title: '专业编号',
                        width: '5%',
                        visible: false,
                        align: 'center',
                    },
                    {
                        field: 'MajorName',
                        title: '专业名称',
                        visible: true,
                        width: '10%',
                        align: 'center',
                        editable: {
                            type: 'text',
                            title: '专业名称',
                            validate: function (v) {
                                if (!v) return '专业名称不能为空';
                            }
                        }
                    },
                    {
                        field: 'ModfiedOn',
                        title: '更新时间',
                        visible: true,
                        width: '13%',
                        align: 'center',
                        formatter: function (value, row, index) {
                            if (value == null)
                                return null;
                            else
                                return new Date(parseInt(value.replace("/Date(", "").replace(")/", ""), 10)).pattern("yyyy-MM-dd HH:mm");
                        }
                    },
                ],
                onDblClickRow: function (row, $element) {
                    layer.prompt({ title: '编辑', value: row["MajorName"] }, function (val, index) {
                        var reg = /^[\u4E00-\u9FA5]{2,20}$/;
                        if (val.match(reg)) {
                            $.post("/Major/Edit", { MajorID: row["MajorID"], MajorName: val }, function (data) {
                                if (data["msg"] == "success") {
                                    layer.msg("修改成功！");
                                    initTable();
                                } else if (data["msg"] == "exist") {
                                    layer.msg("该名称已存在！");
                                } else {
                                    layer.msg("修改失败！")
                                }
                            })
                        }
                        else if (val == row["MajorName"]) {
                            layer.close(index);
                            return;
                        }
                        else {
                            layer.msg('修改失败！专业名称应在2-20个汉字之间');
                        }
                        
                        layer.close(index);
                    });
                },
            });
        };

        //批量删除
        function removeSelectClickEvent() {
            var selectedRows = $('#tb_major').bootstrapTable('getSelections', function (row) {
                return row;
            });
            if (selectedRows.length <= 0) {
                layer.alert("至少选中一个选项");
                return;
            }
            var ids = "";
            for (var key in selectedRows) {
                ids += selectedRows[key].MajorID + ",";
            }
            ids = ids.substr(0, ids.length - 1);
            $.post("/Major/DeleteOfList", { ids, ids }, function (data) {
                if (data == "success") {
                    initTable();
                    layer.alert("删除成功");
                } else if (data == "null") {
                    layer.alert("至少选择一列");
                } else {
                    layer.alert("删除失败,请稍后再试");
                }
            });
        }
    </script>
</head>

<body>
    <div id="toolbar" class="btn-group">
        <input id="add" style="margin-left:15px;margin-right:10px;width:250px;"/>
        <button id="btn_add" type="button" class="btn btn-default" style="float:none;">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加
        </button>
        <button id="btn_removes" type="button" class="btn btn-default" style="float:none;">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>删除
        </button>
    </div>
    <div>
        <table id="tb_major"></table>
    </div>

  

   
</body>

</html>





