@model OjVolunteer.Model.UserEnroll

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>大学生志愿服务认证中心</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/oj/css/admin.css" rel="stylesheet" />
    <style>
        .footer-btn{
            margin-top:20px;
        }
    </style>
</head>
<body>

    <div>
        <table id="tb_user"></table>
    </div>


    <div class="footer-btn">
        <div class="layui-form-item">
            <button class="layui-btn" lay-submit id="agree">审核通过</button>
            <button type="reset" class="layui-btn layui-btn-primary" id="cancel">不通过</button>
        </div>
    </div>

    <script src="~/Content/oj/js/jquery-1.12.4.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Scripts/bootstrap-table.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Content/bootstrap-table/bootstrap-table.js"></script>
    <script src="~/Content/bootstrap-table/bootstrap-table-zh-CN.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script type="text/javascript">
        layui.use('layer', function () {
            var layer = layui.layer;
        });

        $(function () {
            initTable();
            $("#agree").click(function (data) {
                layer.confirm('确定通过审核吗', {
                    btn: ['确定', '取消'] //按钮
                }, function () {
                     $.post("/Activity/ActAccPass", { aId:@ViewBag.Id}, function (data) {
                         var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                         parent.layer.close(index); //再执行关闭  
                });  
                }, function () {
                    layer.msg('已取消');
                });
               
            });

            $("#cancel").click(function (data) {
                layer.confirm('确定不通过审核吗', {
                    btn: ['确定', '取消'] //按钮
                }, function () {
                    $.post("/Activity/ActAccNotPass", { aId:@ViewBag.Id}, function (data) {
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index); //再执行关闭  
                });
                }, function () {
                    layer.msg('已取消');
                });
            });
        });

        function initTable(queryParam) {
            $("#tb_user").bootstrapTable('destroy');
            $('#tb_user').bootstrapTable({
                url: '/Activity/ParticipantsData/@ViewBag.Id',
                clickToSelect: true,
                uniqueId: "UserInfoID",
                columns: [
                    {
                        field: 'UserInfoShowName',
                        title: '真实姓名',
                        visible: true,
                        width: '10%',
                    },
                    {
                        field: 'UserEnrollActivityStart',
                        title: '签到时间',
                        visible: true,
                        width: '20%',
                        formatter: function (value, row, index) {
                            if (value)
                                return new Date(parseInt(value.replace("/Date(", "").replace(")/", ""), 10)).pattern("yyyy-MM-dd HH:mm");
                            else
                                null;
                        }
                    },
                    {
                        field: 'UserEnrollActivityEnd',
                        title: '签退时间',
                        visible: true,
                        sortable: true,
                        width: '20%',
                        formatter: function (value, row, index) {
                            if (value)
                                return new Date(parseInt(value.replace("/Date(", "").replace(")/", ""), 10)).pattern("yyyy-MM-dd HH:mm");
                            else
                                null;
                        }
                    },
                    {
                        field: 'ActivityTime',
                        title: '活动时长',
                        align: 'center',
                        width: '25%',
                    },
                ],
                onDblClickRow: function (row, $element) {
                    var index = layer.open({
                        title: '修改',
                        type: 2,
                        shadeClose:true,
                        content: '/UserEnroll/Edit?userEnrollId='+row['UserEnrollID'],
                        area: ['600px', '400px'],
                        end: function () {
                            initTable();
                        },
                    });
                }
            });
        };

    </script>
</body>
</html>