
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>注册</title>
    <link href="~/Content/oj/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/oj/css/main.css" rel="stylesheet" />
    <style>
        .layui-form-select dl dd.layui-this {
            background-color: #5CB85C;
        }
    </style>
</head>
<body>

    <div class="login-content conter-block">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="#solo" data-toggle="tab">
                    个人
                </a>
            </li>
            <li><a href="#team" data-toggle="tab">团队</a></li>
        </ul>

        <div id="myTabContent" class="tab-content">

            <div class="tab-pane fade in active" id="solo">
                @using (Ajax.BeginForm("UserRegister", "Register", new AjaxOptions { OnSuccess = "registerAfter" }, new { @class = "layui-form" }))
                {
                    <h4 class="title">个 人</h4>
                    <div class="item">
                        <label class="tips">登录帐号:</label>
                        <input id="username" class="input forminput" name="loginname" type="text" placeholder="用于用户登录,仅字母和数字，6-12个字符" lay-verify="required|userID" />
                    </div>
                    <div class="item">
                        <label class="tips">密码:</label>
                        <input id="userpass" class="input forminput" name="pwd" type="password" placeholder="请输入密码,仅字母和数字,6-12个字符" lay-verify="required|pass" />
                    </div>
                    <div class="item">
                        <label class="tips">确认密码:</label>
                        <input id="repass" class="input forminput" name="pwd" type="password" placeholder="再次输入密码" lay-verify="required|repass" />
                    </div>
                    <div class="item">
                        <label class="tips">真实姓名:</label>
                        <input id="realname" class="input forminput" name="nickname" type="text" placeholder="务必填写真实姓名" lay-verify="required|username" />
                    </div>
                    <div class="item">
                        <label class="tips">手机号:</label>
                        <input id="phonenumber" class="input forminput" name="phone" type="text" placeholder="请输入手机号" lay-verify="required|phone" />
                    </div>
                    <div class="select-item">
                        <label class="tips">所属团队:</label>
                        @Html.DropDownList("OrganizeInfoList", null, new { @class = "input forminput", name = "organizeinfo" })
                    </div>
                    <div class="select-item">
                        <label class="tips">政治面貌:</label>
                        @Html.DropDownList("PoliticalList", null, new { @class = "input forminput", name = "political" })
                    </div>
                    <div class="item">
                        <button type="submit" class="btn btn-success" id="rebtn" lay-submit>注册</button>
                        <a href="/Login/">返回登录</a>
                    </div>
                }
            </div>

            <!-- 下面为团队界面 -->

            <div class="tab-pane fade" id="team">
                @using (Ajax.BeginForm("OrganizeRegister", "Register", new AjaxOptions { OnSuccess = "registerAfter" }, new { @class = "layui-form" }))
                {
                    <h4 class="title">组 织</h4>
                    <div class="item">
                        <label class="tips">登录帐号:</label>
                        <input id="teamname" class="input forminput" name="loginname" type="text" placeholder="用于团队登录,仅字母和数字,6-12个字符"  lay-verify="required|userID" />
                    </div>
                    <div class="item">
                        <label class="tips">密码:</label>
                        <input id="orgpass" class="input forminput" name="pwd" type="password" placeholder="请输入密码,仅字母和数字,6-12个字符" lay-verify="required|pass"/>
                    </div>
                    <div class="item">
                        <label class="tips">确认密码:</label>
                        <input id="r-repass" class="input forminput" name="pwd" type="password" placeholder="再次输入密码" lay-verify="required|orgrepass"/>
                    </div>
                    <div class="item">
                        <label class="tips">团队名称:</label>
                        <input id="r-teamname" class="input forminput" name="nickname" type="text" placeholder="请输入团队名称" lay-verify="required|orgname"/> @*2-15*@
                    </div>
                    <div class="item">
                        <label class="tips">负责人姓名:</label>
                        <input id="r-realname" class="input forminput" name="people" type="text" placeholder="请输入负责人姓名" lay-verify="required|username"/>@*2-10个字符*@
                    </div>
                    <div class="item">
                        <label class="tips">手机号:</label>
                        <input id="r-phone" class="input forminput" name="phone" type="text" placeholder="请输入负责人手机号码" lay-verify="required|phone"/>@*11个字符*@
                    </div>
                    <div class="item">
                        <button type="submit" class="btn btn-success" id="r-rebtn" lay-submit>注册</button>
                        <a href="/Login/">返回登录</a>
                    </div>
                }
            </div>

        </div>
    </div>

    <script src="~/Content/oj/js/jquery-1.12.4.js"></script>
    <script src="~/Content/oj/js/bootstrap.min.js"></script>
    <script src="~/Content/layui/layui.all.js"></script>
    <script src="~/Content/oj/js/check.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
        layui.use('layer', function () {
            var layer = layui.layer;
        });
        function registerAfter(data) {
            if (data == "user")
                //alert("注册成功！");
                layer.msg('注册成功！', {
                    icon: 1,
                    end: function () {
                        window.location.href = '/Login/';
                    }
                });
            else if (data == "organize")
                layer.msg('注册成功，请等待团队审核', { icon: 1 });
            else if (data == "exist")
                layer.msg('该登录名已存在', { icon: 2 });
            else
                layer.msg('注册失败，请稍后再试！', { icon: 2 });
            
        }

        $(document).ready(function () {
            $("#username").blur(function () {
                str = $("#username").val();
                $.post("/Register/ValName", { "name": str }, function (data) {
                    if (data != "success")
                        //alert("登录名重复,请更换登录名！");
                        layer.msg('登录账号重复,请更换登录账号！', { icon: 2 });
                });
            });
            $("#teamname").blur(function () {
                str = $("#teamname").val();
                $.post("Register/ValName", { "name": str }, function (data) {
                    if (data != "success")
                        //alert("登录名重复,请更换登录名！");
                        layer.msg('登录账号重复,请更换登录账号！', { icon: 2 });
                });
            });
        });
    </script>
</body>
</html>
