
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>大学生志愿服务认证中心</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="~/Content/oj/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/oj/css/iconfont.css" rel="stylesheet" />
    <link href="~/Content/oj/css/main.css" rel="stylesheet" />

</head>
<body>
    <div style="height: 500px;margin: 250px auto;text-align: center;width: 500px;color: #C62F2F;">
        <i class="layui-icon" style="font-size: 200px;">&#xe664;</i>
        <p style="font-size: 50px;border-top:4px solid #C62F2F;padding: 20px;margin: 20px;">错误</p>
    </div>
    <script src="~/Content/oj/js/jquery-1.12.4.js"></script>
    <script src="~/Content/layui/layui.all.js"></script>
    <script src="~/Content/oj/js/admin.js"></script>
</body>
</html>