
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TalkDetail</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/oj/css/amazeui.min.css" rel="stylesheet" />
    <link href="~/Content/oj/css/admin.css" rel="stylesheet" />
</head>
<body>
    @*<div>
            @ViewBag.Content
        </div>
        <div>
            @{
                string path = ViewBag.ImgPath;
                if (ViewBag.Images != null)
                {
                    List<string> images = ViewBag.Images;
                    foreach (var image in images)
                    {
                        <img src="@path@image" width="100px" height="100px" />
                    }
                }
            }

        </div>*@
    <div class="talk-box">
        <div class="talk-box-title">
            <fieldset class="layui-elem-field ">
                <legend>志愿者心得</legend>
                <div class="layui-field-box">
                    <p class="layui-text"> @ViewBag.Content</p>
                </div>
            </fieldset>
        </div>

    </div>

    <div class="am-avg-sm-3 boxes" id="weibo-img">
        @{
            string path = ViewBag.ImgPath;
            if (ViewBag.Images != null)
            {
                List<string> images = ViewBag.Images;
                foreach (var image in images)
                {
                    <li class="box">
                        <img src="@path@image" width="130px" height="130px" class="img-item" layer-src="@path@image">
                    </li>
                }
            }
        }
    </div>
    <script src="~/Content/layui/layui.all.js"></script>
    <script type="text/javascript">
        layer.photos({
            photos: '#weibo-img'
            , anim: 5 
        });
    </script>
</body>
</html>
