
@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

@section css{
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
}
@section script{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/bootstrap-table/bootstrap-table.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Content/bootstrap-table/bootstrap-table-zh-CN.js"></script>
    <script src="~/Content/layui/layui.all.js"></script>
    <script src="~/Content/bootstrap3-editable/js/bootstrap-editable.js"></script>
    <script src="~/Content/bootstrap-table/bootstrap-table-editable.js"></script>
    <script src="~/Scripts/datapattern.js"></script>

    <script type="text/javascript">
        $(function () {
            //初始化表格
            initTable();
            $("#btn_add").click(function () {
                $.post("/ActivityType/Create", { ActivityTypeName: $("#add").val() }, function (data) {
                    if (data == "success") {
                        initTable();
                        alert("资料修改成功");
                        $("#add").val("");
                    } else if (data == "fail") {
                        alert("修改失败");
                    } else if (data == "exist") {
                        alert("该活动类型名存在");
                    }
                });
            });
            $("#btn_removes").click(function () {
                removeSelectClickEvent();
            });

        });

        //初始化表格
        function initTable(queryParam) {
            $("#tb_activityType").bootstrapTable('destroy');
            $('#tb_activityType').bootstrapTable({
                contentType: "application/x-www-form-urlencoded",//后台拿Request拿不到值添加该条语句
                url: '/ActivityType/GetAllActivityType',         //请求后台的URL（*）
                method: 'post',                      //请求方式（*）
                toolbar: '#toolbar',
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                queryParams: queryParam,
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                pageList: [10, 20, 50, 100],        //可供选择的每页的行数（*）
                smartDisplay: false,
                showColumns: true,                  //是否显示所有的列
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,
                uniqueId: "ActivityTypeID",                     //每一行的唯一标识，一般为主键列
                columns: [
                    {
                        field: 'checked',
                        checkbox: true,
                        width: '5%'
                    },
                    {
                        field: 'ActivityTypeID',
                        title: '活动类型编号',
                        width: '5%',
                        visible: false,
                        align: 'center',
                    },
                    {
                        field: 'ActivityTypeName',
                        title: '活动类型名称',
                        visible: true,
                        width: '10%',
                        align: 'center',
                        editable: {
                            type: 'text',
                            title: '活动类型名称',
                            validate: function (v) {
                                if (!v) return '活动类型名称不能为空';
                            }
                        }
                    },
                    {
                        field: 'ModfiedOn',
                        title: '更新时间',
                        visible: true,
                        width: '13%',
                        align: 'center',
                        formatter: function (value, row, index) {
                            if (value == null)
                                return null;
                            else
                                return new Date(parseInt(value.replace("/Date(", "").replace(")/", ""), 10)).pattern("yyyy-MM-dd HH:mm");
                        }
                    }
                ],
                onEditableSave: function (field, row, oldValue, $el) {
                    $.ajax({
                        type: "post",
                        url: "/ActivityType/Edit",
                        data: row,
                        dataType: 'JSON',
                        success: function (data, status) {
                            if (data["result"] == "success") {
                                alert('操作成功');

                            } else if (data["result"] == "fail") {
                                alert("操作失败");

                            } else if (data["result"] == "exist") {
                                alert("已存在");
                            }
                        },
                        error: function (data, status) {
                            alert("操作失败")
                        },
                        complete: function () {
                            initTable();
                        }
                    });
                }
            });
        };


        //批量删除
        function removeSelectClickEvent() {
            var selectedRows = $('#tb_activityType').bootstrapTable('getSelections', function (row) {
                return row;
            });
            if (selectedRows.length <= 0) {
                alert("至少选中一个选项");
                return;
            }
            var ids = "";
            for (var key in selectedRows) {
                ids += selectedRows[key].ActivityTypeID + ",";
            }
            ids = ids.substr(0, ids.length - 1);
            $.post("/ActivityType/DeleteOfList", { ids, ids }, function (data) {
                if (data == "success") {
                    initTable();
                    alert("删除成功");
                } else if (data == "null") {
                    alert("至少选择一列");
                } else {
                    alert("删除失败,请稍后再试");
                }
            });
        }
    </script>
}
<div id="toolbar" class="btn-group">
    <input id="add" />
    <button id="btn_add" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加
    </button>
    <button id="btn_removes" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>删除
    </button>
</div>
<div>
    <table id="tb_activityType"></table>
</div>




