@model OjVolunteer.Model.UserEnroll

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/oj/css/admin.css" rel="stylesheet" />
    <style>
        .layui-form-pane .layui-form-label {
            overflow: visible;
        }
        .stuInfo-form{
            width:auto;
        }
    </style>
</head>
<body>
    <form class="layui-form layui-form-pane stuInfo-form" id="from1">
        @Html.HiddenFor(Model => Model.UserEnrollID)
        <div class="layui-form-item">
            <label class="layui-form-label">签到时间</label>
            <div class="layui-input-block">
                @*@Html.EditorFor(Model=>Model.UserEnrollActivityStart,new { @class="layui-input", id="timeRange" ,lay_verify="require"})*@
                <input type="text" name="UserEnrollActivityStart" class="layui-input" id="timeRange" lay-verify="require" value="@{string strat = Convert.ToDateTime(Model.UserEnrollActivityStart).ToString("yyyy-MM-dd HH:mm:ss"); @strat}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">签退时间</label>
            <div class="layui-input-block">
                <input type="text" name="UserEnrollActivityEnd" class="layui-input" id="timeEnrollRange" lay-verify="require" value="@{string end = Convert.ToDateTime(Model.UserEnrollActivityEnd).ToString("yyyy-MM-dd HH:mm:ss"); @end}">
            </div>
        </div>
        <div class="footer-btn">
            <div class="layui-form-item">
                <button class="layui-btn" lay-submit id="need" lay-filter="up">保存</button>
            </div>
        </div>
    </form>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Content/layui/layui.all.js"></script>
    <script src="~/Content/oj/js/check.js"></script>
    <script>
        //验证签到时间是否比退时间晚
        var BaoCun = $('#need');
        var timeRange = $('#timeRange');
        var timeEnrollRange = $('#timeEnrollRange');
        
        BaoCun.click(function () {
            var date1 = timeRange.val().substring(0, 10);
            var date2 = timeEnrollRange.val().substring(0, 10);
            console.log(date2);
            console.log(date1);
            if (date1 != date2) {
                alert('签到时间和签退时间应在同一天')
            }
            else {
                if (timeEnrollRange.val() > timeRange.val()) {
                    $.post("/UserEnroll/Edit", $("#from1").serialize(), function (data) {
                        if (data["msg"] == "success") {
                            alert("修改成功");
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.close(index); //再执行关闭   
                        } else {
                            alert("出现异常，请稍后再试！")
                        }
                    });
                }
                else {
                    alert("时间选择错误，签退时间应该比签到时间晚！");
                }
            }

        });
        //日期组件
        layui.use('laydate', function () {
            var laydate = layui.laydate;
            laydate.render({
                elem: '#timeRange',
                type: 'datetime'
            });

            var laydate1 = layui.laydate;
            laydate1.render({
                elem: '#timeEnrollRange',
                type: 'datetime'
            });
        });
    </script>

</body>
</html>
